.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  background: var(--color-bg-panel);
  color: var(--color-text);
}
.App.dark-mode .footer {
  background: var(--color-bg-panel-dark);
  color: var(--color-text-dark);
} 