
.chart {
  /* 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  */
  display: block;
  width: 100%;
  overflow-x: auto;
  padding: 32px 0;
  box-sizing: border-box;
}

.chart > div, .chart > canvas, .chart > svg {
  margin-left: 0;
  margin-right: auto;
  display: block;
} 
